{% extends 'generator/layout.html' %}

{% block content %}
<h1>Acerca de</h1>
<p>"Gen-Pass" es una página creada con el propósito de ayudar a generar contraseñas totalmente aleatorias y seguras para usarlas en los sitios nuevos en los que se crea una cuenta o simplemente para cambiar nuestras antiguas contraseñas, ya que es importante tener contrseñas seguras mientras navegamos por internet.
    "Gen-Pass" es un proyecto desarrollado para CUCEI, en la Universidad de Guadalajara por Darío Imanol Carrillo Mendoza.
</p>

{% endblock %}